.text-size-1 {
    font-size: 10px;
}

.text-size-2 {
    font-size: 20px;
}

.text-size-3 {
    font-size: 30px;
}

.text-size-4 {
    font-size: 40px;
}

.text-size-5 {
    font-size: 50px;
}

.text-size-6 {
    font-size: 60px;
}

.text-size-7 {
    font-size: 70px;
}

.text-size-8 {
    font-size: 80px;
}

.text-size-9 {
    font-size: 90px;
}

.text-size-10 {
    font-size: 100px;
}